/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FOOTER 1 SECTION */
/* -------------------------------------------------------------------------- */
.footer-1 {
  background: url('../img/footer-1-bg@2x.jpg') center / cover;
  min-height: 200px;
  padding: 40px 20px;

  .containerish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .body-copy {
      font-size: 1rem;
      font-weight: 400;
    }

    .footer-logo {
      height: 129.76px;
      width: 272.45px;
      margin-bottom: 2rem;
    }

    .footer-map {
      max-width: 518px;
      max-height: 234px;
    }


    /* FOOTER-NAV */
    .footer-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      margin-top: 2rem;

      li {
        list-style-type: none;

        .footer-nav-link {
          font-family: $font-secondary;
          font-size: 0.8125rem;
          font-weight: 500;
          color: $color-dark;

          &:hover {
            color: $color-main;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* FOOTER 2 SECTION */
/* -------------------------------------------------------------------------- */
.footer2 {
  background-color: $color-white;
  width: 100%;
  padding: 0.6rem 20px;
  height: 50px;
  display: flex;
  align-items: center;

  .containerish {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;

    .footer-link-2 {
      font-weight: 300;
      font-size: 12px;
      line-height: calc(12px * 1.5);
      font-family: $font-primary;
      color: $color-text-grey !important;

      &:hover {
        color: $color-main;
        text-decoration: none;
      }
    }
  }
}