/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 186px;
    padding: 1.5rem 1rem;
  }


  /* HERO ******************************************************************* */
  .hero {
    padding: 10px 20px;
    height: 600px;

    &::before {
      background: rgba($color-dark, .3);
    }
  }

  /* MENOPAUSE ************************************************************** */
  .menopause {
    padding: 0;
    height: 700px;

    .containerish {
      position: relative;

      .section-img {
        width: 65%;
        height: auto;
        position: absolute;
        right: 0px;
        top: 25px;
      }

      .section-info {
        width: 60%;
        max-width: 580px;
        position: absolute;
        top: 300px;
        left: 50px;
        z-index: 25;
      }
    }
  }

  /* DR BIO ***************************************************************** */
  .bio {
    min-height: 300px;
    padding: 60px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      grid-gap: 2rem;

      .section-info {
        position: relative;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    padding: 1.3rem 0.3rem;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    padding: .2rem 1rem;

    .containerish {
      grid-template-columns: max-content 1fr max-content;
      align-items: center;

      .col-left {}

      .col-mid {
        display: flex;
        justify-content: center;

        p {
          margin: 0;
          text-align: center;
        }
      }

      .col-right {}
    }
  }

  /* NAVBAR ***************************************************************** */
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .nav-wrapper {
    background: $color-light;
    position: relative;

    &.show {
      // background: $color-white;
    }

    .containerish {
      padding: .2rem 1rem;
    }
  }

  .navbar {
    .nav-logo {
      max-width: 339.31px;
      max-height: 93.16px;
    }
  }

  .nav-item {
    margin-right: 1rem;
  }

  /* HERO ******************************************************************* */
  .hero {
    &::before {
      background: rgba($color-dark, 0);
    }
  }

  /* SEARCH ***************************************************************** */
  .search {
    // background: $color-light;
    padding: 40px 20px;

    .containerish {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      grid-gap: 1rem;
      align-items: center;

      .form-control {
        border-radius: 0;
        margin-bottom: 0;
      }

      .form-control:not(button) {
        border: 1px solid #ededed;
      }

      ::placeholder {
        color: #3e3a42;
        font-family: $font-primary;
        font-size: 15px;
      }
    }
  }

  /* MENOPAUSE ************************************************************** */
  .menopause {
    padding: 0;
    height: 650px;

    .containerish {
      position: relative;

      .section-img {
        width: 75%;
        height: auto;
        position: absolute;
        right: 0px;
        top: 25px;
      }

      .section-info {
        width: 50%;
        max-width: 580px;
        position: absolute;
        top: 70px;
        left: 50px;
        z-index: 25;
      }
    }
  }

  /* DR BIO ***************************************************************** */
  .bio {
    margin-top: -10px;
    min-height: 300px;
    padding: 0 20px 60px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-gap: 4rem;

      .section-info {
        position: relative;
      }
    }
  }

  /* NEWSLETTER ************************************************************* */
  .newsletter {
    align-items: center;

    .containerish {
      padding: 60px 20px;
      display: grid;
      grid-template-columns: 1.5fr 1.5fr min-content;
      grid-template-rows: auto;
      grid-gap: 1rem;

      h3 {
        grid-row: 1;
        grid-column: 1 / -1;
      }

      p {
        margin-top: 0.5rem;
        grid-row: 2;
        grid-column: 1 / -1;
      }

      input {
        grid-row: 3;
        height: 44px;
      }

      input:nth-child(1) {
        grid-column: 1;
      }

      input:nth-child(2) {
        grid-column: 2;
      }

      button {
        grid-row: 3;
        grid-column: 3;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* NAVBAR ***************************************************************** */
  .nav-wrapper {
    padding: .5rem 0;
  }

  .navbar {
    .nav-logo {
      width: 339.31px;
      height: 93.16px;
    }
  }

  /* MENOPAUSE ************************************************************** */
  .menopause {
    padding: 0;
    height: 850px;

    .containerish {
      position: relative;

      .section-img {
        width: 75%;
        max-width: 1155px;
        height: auto;
        position: absolute;
        right: 0px;
        top: 45px;
      }

      .section-info {
        width: 50%;
        max-width: 580px;
        position: absolute;
        top: 130px;
        left: 80px;
        z-index: 25;
      }
    }
  }

  /* DR BIO ***************************************************************** */
  .bio {
    margin-top: -50px;
    min-height: 300px;
    padding: 0 20px 60px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-gap: 4rem;

      .section-info {
        position: relative;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* TOPBAR ***************************************************************** */
  .topbar {
    padding: .2rem 1rem;

    .containerish {
      grid-template-columns: 1fr max-content 1fr;
      align-items: center;


      .col-mid {
        display: flex;
        justify-content: center;

        p {
          margin: 0;
          text-align: center;
        }
      }

      .col-right {
        display: flex;
        justify-content: flex-end;
      }

    }
  }

  /* NAVBAR ***************************************************************** */
  .nav-wrapper {
    .containerish {
      padding: .2rem 0rem;
    }
  }

  /* MENOPAUSE ************************************************************** */
  .menopause {
    padding: 0;
    height: 900px;

    .containerish {
      position: relative;

      .section-img {
        width: 75%;
        max-width: 1155px;
        height: auto;
        position: absolute;
        right: 0px;
        top: 45px;
      }

      .section-info {
        width: 50%;
        max-width: 580px;
        position: absolute;
        top: 130px;
        left: 80px;
        z-index: 25;
      }
    }
  }

  /* DR BIO ***************************************************************** */
  .bio {
    margin-top: -60px;
    min-height: 300px;
    padding: 0 20px 60px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-gap: 4rem;

      .section-info {
        position: relative;

        p {
          max-width: 521px;
        }
      }
    }
  }

}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {
  .hero {
    height: 850px;
  }
}